<div id="galleries">
	<%= render "gallery_form" %>
	<div id="gallery-footer">
		Изображение будет загруженно в выбраный вами альбом, если вы не можете найти подходящий альбом - создайте его <%= link_to "Здесь", new_album_path %> <br>После удачной загрузки изображения вы будете перенаправленны на страницу со списком изображений.
	</div>
</div>