@import '_base.css.scss';

/* ==========================================================================
   Styles for users
   ========================================================================== */

#register, #auth {

	@include borderRadius (5px);

	margin: 0px auto;
	text-align: left;
	width: 500px;
	padding: 25px;
	background: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

	#registration-head {font-style: italic;}

	textarea {height: 130px;}

	#registration-footer {
		background: #f3f3f3;
		border-top: 1px solid #DAD9D9;
		padding: 20px 25px;
		width: 100%;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		position: relative;
		left: -25px;
		right: -25px;
		bottom: -25px;
		font-size: 0.9em;
	}
}

#index-user {
	
	text-align: left;
	width: 100%;
	background: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: $small + 2;

	#user-info {padding: 10px;}

	#avatar {float: left;}

	#user-about {
		padding: 5px;
		background: #edeff4;
		border: 1px dashed #d8dfea;
	}

}

input[type="password"], input[type="text"], input[type="email"], textarea {
	@include inputStyle($small + 2, 27px);
}
