=provide(:title, "h8img::Редактирование категории")
#categoryes
	%h1 Редактирование категории
	#categoryes-head Здесь вы можете изменить выбранную категорию.
	#new-category-form= render 'category_form'
.clearfix
%br