=provide(:title, "h8img::Создание новой категории")
#categoryes
	%h1 Создание новой категории
	#categoryes-head Здесь вы можете создать новый тип категорий, чтобы систематизировать ваши статьи.
	#new-category-form= render 'category_form'
.clearfix
%br