<% if object.errors.any? %>
	<div id="form-errors">
		<p>При заполнении формы возникли следующие ошибки:</p>
		<ul>
			<% object.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>	
<% end %>